<footer class="footer">
  <p>Copyright © 2020-2023 Marc-André Goyette</p>
{{ if eq .Lang "fr" }}
  <p>
    <a href="/fr/articles">Articles</a> |
    <a href="/fr/tags">Tags</a> |
    <a href="/fr/fictions">Fictions</a> |
    <a href="/fr/a-propos">À propos</a> |
    {{ if .IsTranslated }}
    {{ range .Translations }}
    <a href="{{ .Permalink }}">English</a> |
    {{ end }}
    {{ else }}
    <a href="/en">English</a> |
    {{ end }}
    <a href="/fr/fils/">Fils Atom/RSS</a> |
    <a href="https://github.com/magoyette/magoyette.github.io">Code source</a>
  </p>
  <p>
    Les articles et le texte de ce site sont disponibles sous une
    <a
      rel="license"
      href="https://creativecommons.org/licenses/by-nd/4.0/deed.fr"
      >licence Creative Commons (CC BY-ND 4.0)</a
    >.
  </p>
  <p>
    Les opinions exprimées sur ce site sont uniquement les miennes et ne
    représentent pas celles de mes employeurs actuels ou passés.
  </p>
{{ else }}
  <p>
    <a href="/en/articles">Articles</a> |
    <a href="/en/tags">Tags</a> |
    <a href="/en/about">About</a> |
    {{ if .IsTranslated }}
    {{ range .Translations }}
    <a href="{{ .Permalink }}">Français</a> |
    {{ end }}
    {{ else }}
    <a href="/fr">Français</a> |
    {{ end }}
    <a href="/en/feeds/">Atom Feeds</a> |
    <a href="https://github.com/magoyette/magoyette.github.io">Source code</a>
  </p>
  <p>
    The articles and the text of this site are licensed under a
    <a rel="license" href="https://creativecommons.org/licenses/by-nd/4.0/"
      >Creative Commons License (CC BY-ND 4.0)</a
    >.
  </p>
  <p>
    Opinions expressed on this site are solely my own, not those of my present
    or past employers.
  </p>
{{ end }}
</footer>