<head>
  <!-- Make title dynamic -->
  <title>{{ .Title }} - Marc-André Goyette</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Marc-André Goyette" />
  <meta
    name="description"
    content="Essais de Marc-André Goyette sur le développement logiciel, la fiction interactive et la littérature."
  />
  <link type="text/css" rel="stylesheet" href="/styles.css" />
  {{ if eq .Lang  "fr" }}
  <link rel="alternate" type="application/atom+xml" href="/fr/atom.xml" title="Flux Atom">
  {{ else }}
  <link rel="alternate" type="application/atom+xml" href="/en/atom.xml" title="Atom Feed">
  {{ end }}

</head>
