<nav aria-label="main navigation" class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand is-family-secondary">
      <a href="/{{ .Lang }}" class="navbar-item has-text-weight-bold">{{ .Site.Title }}</a>
    </div>
    <div id="topNavbar" class="navbar-menu is-active">
      <div class="navbar-start">
        {{ if eq .Lang  "fr" }}
        <a href="/fr/articles" class="navbar-item is-tab">Articles</a>
        <a href="/fr/a-propos" class="navbar-item is-tab">À propos</a>
        <a href="/en" class="navbar-item is-tab">English</a>
        {{ else }}
        <a href="/en/articles" class="navbar-item is-tab">Articles</a>
        <a href="/en/about" class="navbar-item is-tab">About</a>
        <a href="/fr" class="navbar-item is-tab">Français</a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
