/dist
/classes
/checkouts
/target
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
node_modules
.directory
/semantic
/semantic.json
/resources/public/themes
/resources/public/styles/semantic*.css
