/dist
/classes
/checkouts
/target
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
node_modules
.directory
/semantic/tasks
/semantic/dist
/semantic/gulpfile.js
/semantic/src/theme.less
/semantic/src/definitions
/semantic/src/themes
/resources/public/styles
/resources/public/themes