---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
const notes = await getCollection("notes");
const allPosts = [...articles, ...notes];
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="container">
          <article class="card">
            <div class="card-content">
              <h1 class="title is-family-secondary">Tags</h1>
              <ul>
                {
                  tags.map((tag) => (
                    <>
                      <li>
                        <a href={`/tags/${tag}`}>{tag}</a>
                      </li>
                    </>
                  ))
                }
              </ul>
            </div>
          </article>
          <Footer />
        </div>
      </section>
    </main>
  </body>
</html>
