---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Feeds"
  description="Feeds"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
>
  <p>TODO</p>
  <ul>
    <li><a href="/rss.xml">RSS Feed for articles and notes</a></li>
    <li><a href="/articles/rss.xml">RSS Feed for articles</a></li>
    <li><a href="/notes/rss.xml">RSS Feed for notes</a></li>
  </ul>
</Layout>
