{{ define "main" }}
<main aria-role="main">
  <article class="card">
    <div class="card-content">
      <h1 class="title is-family-secondary">{{ .Title}}</h1>

      {{ range .Site.RegularPages }}
      {{ if (not (eq .Params.article false)) }}
      <p>
        <span class="article-date has-text-grey-dark">{{ .Date.Format "2006-01-02" }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </p>
      {{ end }}
      {{ end }}
    </div>
  </article>
</main>
{{ end }}
