---
const today = new Date();
---

<footer class="footer">
  <p>Copyright &copy; 2020-{today.getFullYear()} Marc-André Goyette</p>
  <p>
    <a href="/">Home</a> |
    <a href="/articles">Articles</a> |
    <a href="/notes">Notes</a> |
    <a href="/tags">Tags</a> |
    <a href="/about">About</a> |
    <a href="/feeds">RSS</a> |
    <a href="https://github.com/magoyette/magoyette.github.io">GitHub</a>
  </p>
  <p>
    Opinions expressed on this site are solely my own, not those of my present
    or past employers.
  </p>
</footer>
